.what-do {
  position: relative;
  padding-top: 70px;
}

.what-do__partial-background {
  top: 0;
  left: -20%;
}

.what-do__title {
  font-family: "Source Sans Pro Bold";
  font-size: 56px;
  margin: 0 100px;
}

@media screen and (max-width: 1024px) {
  .what-do__title {
    margin: 0 20px;
  }
}

.what-do__poster_wrapper {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  margin: 30px 0;
}

.what-do__poster_wrapper img {
  width: 384px;
  height: 228px;
}

.what-do__poster_wrapper > a {
  z-index: 1;
  margin: 20px;
}

.what-do__poster {
  border-radius: 30px;
  transition: transform 0.2s ease-out;
}

.what-do__poster:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .what-do__poster_wrapper img {
    width: calc(384px / 1.5);
    height: calc(228px / 1.5);
  }

  .what-do__poster_wrapper > a {
    margin: 15px;
  }
  .what-do__poster {
    border-radius: 20px;
  }
}
