.why-become {
  margin: 0 200px;
}

.why-become__title p:first-child {
  font-size: 112px;
  font-family: "Source Sans Pro Bold";
  line-height: 120px;
  margin-bottom: 15px;
}

.why-become__title p:last-child {
  max-width: 70%;
  font-family: "Fuse V.2 Display";
  line-height: 23px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .why-become {
    margin: 0 25px;
  }

  .why-become__title p:first-child {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    width: 50%;
  }
}

.why-become__bottom {
  display: flex;
  align-items: flex-start;
}

.why-become__bottom > img {
  content: url("../assets/reasons-members.png");
}

@media screen and (max-width: 768px) {
  .why-become__bottom {
    flex-direction: column-reverse;
  }
  .why-become__bottom > img {
    content: url("../assets/reasons-members-mobile.png");
    width: 75%;
    align-self: center;
  }
}

.why-become__bottom__property_wrapper {
  margin-left: 5%;
}

.why-become__bottom__property_wrapper > span {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}

.why-become__bottom__property_wrapper > span span {
  margin: 0 15px;
}

.why-become__bottom__property__text__top {
  font-size: 36px;
  font-family: "Source Sans Pro Bold";
  margin-bottom: 10px;
}

.why-become__bottom__property__text__bottom {
  font-size: 16px;
  font-family: "Source Sans Pro Regular";
  line-height: 25px;
  max-width: 90%;
}
